/* Root Variables */
:root {
    --beige : #f5f5dc;
    --brown : #a52a2a;
    --dark-brown : #654321;
    --light-brown : #d2b48c;
    --white : #ffffff;
    --black : #000000;
    --font-family : 'Arial', sans-serif;
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--beige);
    color: var(--dark-brown);
}